
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <a class="navbar-brand " href="#"><img src="../assets/2.2.webp" style="margin-left: 13px;" width="80px" height="35px" alt="injection"></a>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link c" routerLink="/login" routerLinkActive="active">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link c" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link c" routerLink="/about-us" routerLinkActive="active">Candidate data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link c" routerLink="/logoff" routerLinkActive="active">Logoff</a>
        </li>


      </ul>
    </div>
  </div>
  <!-- <button class="btn-success" routerLink="header" routerLinkActive="active" style="border-radius: 10px;"><i class="fas fa-water-lower fa-lg"></i></button> -->

</nav>


 
